# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
myenv/
myenv/*

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Env variables
.env
*.env

# IDEs
.vscode/
.idea/

